
@{
    ViewBag.Title = "Permission Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<body>
    <!-- Content Wrapper-->
    <div class="content-wrapper">
        <!-- Content -->
        <div class="container-xxl flex-grow-1 container-p-y">
            <!-- Dashboard Overview -->
            <div class="row">
                <div class="col-12 mb-4">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">Permission Management</h5>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <!-- Role and Permission Settings Section -->
                                <div class="col-lg-6 mb-4">
                                    <h6 class="card-title">Role and Permission Settings</h6>
                                    <form>
                                        <div class="mb-3">
                                            <label for="roleName" class="form-label">Role Name</label>
                                            <input type="text" class="form-control" id="roleName" name="roleName" placeholder="Enter role name">
                                        </div>
                                        <div class="mb-3">
                                            <label for="permissions" class="form-label">Permissions</label>
                                            <select multiple class="form-control" id="permissions" name="permissions">
                                                <option value="read">Read</option>
                                                <option value="write">Write</option>
                                                <option value="delete">Delete</option>
                                            </select>
                                        </div>
                                        <button type="submit" class="btn btn-primary">Save Role</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Content -->
    </div>

</body>




