
@{
    ViewBag.Title = "RepositoryView";
    Layout = "~/Views/Developer/DeveloperIndex.cshtml";
}

<div class="container">
    <div class="row mt-5">
        <div class="col-md-8">
            <h1>Repository Name</h1>
            <p>Description of the repository.</p>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Repository Info</h5>
                    <p class="card-text">Owner: John Doe</p>
                    <p class="card-text">Created: June 1, 2024</p>
                    <p class="card-text">Stars: 123</p>
                    <a href="#" class="btn btn-primary">Visit Repository</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-8">
            <h2>Readme</h2>
            <p>This is where the readme content goes.</p>
        </div>
        <div class="col-md-4">
            <h2>Contributors</h2>
            <ul class="list-group">
                <li class="list-group-item">Contributor 1</li>
                <li class="list-group-item">Contributor 2</li>
                <li class="list-group-item">Contributor 3</li>
            </ul>
        </div>
    </div>
</div>
